<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>

  <div>
    <form method="post" action="/user">
      <label>Name</label>
      <input name="name" type="text" placeholder="Harsh" />
      <label>Email</label>
      <input name="email" type="text" placeholder="test@gmail.com" />
      <label>Password</label>
      <input name="password" type="password"  />
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>